<div class="users-edit-wrapper">
  <div class="container">
    <div class="row">

      <div class="col-md-4 users-edit-container">
        <h1 class="text-center text-white login-title">edit</h1>
        <%= form_for @user do |f| %>

        <% @user.errors.full_messages.each do |user| %>
          <div class="form-error text-red">
            <%= user %>
          </div>
        <% end %>

        <div class="form-group">
          <%= f.label :password, "新しいパスワード", class: "text-white"%>
          <%= f.password_field :password, class: "form-control"%>
        </div>
        <div class="form-group">
          <%= f.label :password_confirmation, "新しいパスワード(再入力)", class: "text-white"%>
          <%= f.password_field :password_confirmation, class: "form-control"%>
        </div>

          <%= f.submit "登録", class: "btn-block btn-white" %>
        <% end %>
          <%= link_to "戻る", '/users/:id/edit', class: "btn-login text-black" %>
      </div>
    </div>
  </div>
</div>
